In [3]:
import scipy.stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
df = pd.read_csv('Files/juego-azar.csv', sep = ';')
df

   bola   color  numero
0     1  blanco       1
1     2   negro       1
2     3   negro       1
3     4   negro       1
4     5  blanco       2
5     6   negro       2
6     7   negro       2
7     8  blanco       3
8     9  blanco       3
9    10   negro       3

In [11]:
#probabilidades univariadas: 
df.numero.value_counts()/len(df)
#para convertirlo en probabilidad lo dividimos por la cantidad de casos

1    0.4
3    0.3
2    0.3
Name: numero, dtype: float64

In [12]:
df.color.value_counts()/len(df)

negro     0.6
blanco    0.4
Name: color, dtype: float64

In [13]:
df.groupby(['color','numero']).size()/len(df)

color   numero
blanco  1         0.1
        2         0.1
        3         0.2
negro   1         0.3
        2         0.2
        3         0.1
dtype: float64

In [14]:
pd.crosstab(index = df.color, columns = df.numero, margins = True)
#Con una tabla de contingencia se pueden ver todos las probabilidades y distribuciones con solo dos tablas y 
#de manera mas grafica, pero para hacer una tabla de contingencia es necesario tener dos variables categoricas

numero  1  2  3  All
color
blanco  1  1  2    4
negro   3  2  1    6
All     4  3  3   10

In [15]:
pd.crosstab(index = df.color, columns = df.numero, margins = True)/len(df)

numero    1    2    3  All
color
blanco  0.1  0.1  0.2  0.4
negro   0.3  0.2  0.1  0.6
All     0.4  0.3  0.3  1.0

In [17]:
#P=(A|B) = P=(B|2) = 1/3
#probabilidad = esfera blanca con numero 2 = 1/3
#sobre todas las esferas de numero 2 = 3
1/3

0.3333333333333333

In [21]:
#P(A)
#P(A|B)
#P(B)
#p_blanca = 4/10
#P(blanca|1) + P(blanca|2) + P(blanca|3)
#1 + 1 + 2
#P(blanca) = P(blanca|1)*P(1) + P(blanca|2)*P(2) + P(blanca|3)*P(3)
(1/4)*(4/10) + (1/3)*(3/10) + (2/3)*(3/10)

0.4

nos permite derivar concluciones sobre A cuando no conocemos su probabilidad
utilizando la inforamcion que tenemos de un evento B y la probabilidad condicionada de A dado este evento